@import "../../styles/variables.scss";
.users {    


    .info {
        display: flex;
        align-items: center;
        gap:20px;
        margin-bottom: 20px;
        button {
            padding: 15px;
            cursor: pointer;
            border-radius: 60px;
            border: none;
            transition-duration: 0.3s;
           background-color: $dark-bg;
           color: white;
           &:hover {
            background-color: $soft-bg;
           }
        }
    }
}
